services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: raghav
      POSTGRES_PASSWORD: password
      POSTGRES_DB: jwt-auth
    volumes:
      - postgres-data:/var/lib/postgresql/data

  nextjs:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    container_name: nextjs
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
        - action: rebuild
          path: .env
        - action: rebuild
          path: prisma/schema.prisma

  prisma-studio:
    image: node:20-alpine
    container_name: prisma-studio
    working_dir: /app
    ports:
      - "5555:5555"
    volumes:
      - ./:/app
    command: sh -c "npx prisma studio"
    depends_on:
      - nextjs

volumes:
  postgres-data:
